@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

body {
    margin: 0;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/836/532/876/spots-background-light-solid-wallpaper-thumb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.logo1{
    border-radius: 25px;
    border-color: red ;
}

     